* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F6F8FA;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li{
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: 'Segoe UI', Verdana
}

a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    color: #989494;
}

section{
    height: 95vh;
}

section#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 7.5px;
}

section#hero h1{
    font-size: 3rem;
    font-family: 'Helvetica'
}

section#hero h2{
    color: #5A5A5A;
    font-size: 2rem;
    font-family: 'Helvetica'
}

section#project h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Helvetica'  
}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-detail{
    border: 5px solid #5A5A5A;
    border-radius: 10px;
    width: 300px;
    margin: 20px;
}

.project-detail img{
    width: 100%;
}

.project-detail h3{
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Helvetica'
}

.project-detail p{
    margin-bottom: 10px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Segoe UI', Verdana
}

.project-detail a{
    display: block;
    text-align: center;
    font-size: 1rem;
    font-family: 'Segoe UI', Verdana
}